body{
    background-color: lightgray;
}
.container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: auto;
    margin-top: 5em;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: cadetblue;
}

label{
    margin-bottom: 0.5em;
}
.input{
    margin-bottom: 1.5em;
}

button{
    margin-bottom: 2em;
}

input{
    border: 1px gray solid;
}